/*  your css code here. If applicable */
*{
	background-color: #f5f5f5;
}
.header{
	background-color: #011e29;
	text-align: center;
	color: white;
}
.latest-news-section{
	margin-left: 20px;
	width: 100px;
	padding: 10px;
	background-color: white;
	display: inline-block;
	
}
.main{
	width: 200px;
	padding: 10px;
	background-color: white;
	display: inline-block;
}
.pictorial-news-section{
	text-align: center;
	width: 100px;
	padding: 10px;
	background-color: white;
	border-radius:10px;
	display: inline-block;
}









